In [ ]:
import pandas as pd

df= pd.read_csv("/content/amazon_sales_data 2025.csv")
df

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Customer Name,Customer Location,Payment Method,Status
0,ORD0001,14-03-25,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,20-03-25,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,15-02-25,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,19-02-25,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,10-03-25,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,17-03-25,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,30-03-25,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,05-03-25,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,08-03-25,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,19-02-25,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [ ]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total Sales        250 non-null    int64
 7   Customer Name      250 non-null    object
 8   Customer Location  250 non-null    object
 9   Payment Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB

             Price    Quantity  Total Sales
count   250.000000  250.000000   250.000000
mean    343.580000    2.856000   975.380000
std     380.635808    1.429489  1252.112254
min      15.000000    1.000000    15.000000
25%      40.000000    2.000000   100.000000
50%     150.000000    3.000000   400.000000
75%     600.000000    4.000000  1500.000000
max    1200.000000    5.000000  6000.000000

In [ ]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" " ,"_")
)

df.columns

Index(['_o_r_d_e_r___i_d_', '_d_a_t_e_', '_p_r_o_d_u_c_t_',
       '_c_a_t_e_g_o_r_y_', '_p_r_i_c_e_', '_q_u_a_n_t_i_t_y_',
       '_t_o_t_a_l___s_a_l_e_s_', '_c_u_s_t_o_m_e_r___n_a_m_e_',
       '_c_u_s_t_o_m_e_r___l_o_c_a_t_i_o_n_', '_p_a_y_m_e_n_t___m_e_t_h_o_d_',
       '_s_t_a_t_u_s_'],
      dtype='object')

In [ ]:
df.isnull().sum()

_o_r_d_e_r___i_d_                      0
_d_a_t_e_                              0
_p_r_o_d_u_c_t_                        0
_c_a_t_e_g_o_r_y_                      0
_p_r_i_c_e_                            0
_q_u_a_n_t_i_t_y_                      0
_t_o_t_a_l___s_a_l_e_s_                0
_c_u_s_t_o_m_e_r___n_a_m_e_            0
_c_u_s_t_o_m_e_r___l_o_c_a_t_i_o_n_    0
_p_a_y_m_e_n_t___m_e_t_h_o_d_          0
_s_t_a_t_u_s_                          0
dtype: int64

In [ ]:
df.columns = df.columns.str.strip('_')

In [ ]:
df.isnull().sum()

o_r_d_e_r___i_d                      0
d_a_t_e                              0
p_r_o_d_u_c_t                        0
c_a_t_e_g_o_r_y                      0
p_r_i_c_e                            0
q_u_a_n_t_i_t_y                      0
t_o_t_a_l___s_a_l_e_s                0
c_u_s_t_o_m_e_r___n_a_m_e            0
c_u_s_t_o_m_e_r___l_o_c_a_t_i_o_n    0
p_a_y_m_e_n_t___m_e_t_h_o_d          0
s_t_a_t_u_s                          0
dtype: int64

In [ ]:
df.columns = df.columns.str.replace('_','',regex=False)

In [ ]:
df.isnull().sum()

orderid             0
date                0
product             0
category            0
price               0
quantity            0
totalsales          0
customername        0
customerlocation    0
paymentmethod       0
status              0
dtype: int64

In [ ]:
df.to_csv("cleaned_data.csv",index=False)